Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ ./?page-name=$1 [L]
#RewriteRule ^(.*)/(.*)$ /?page-name=$1&sub-page-name=$2 [L]